<h1>Nouvelle Vague</h1>

<p>"La Nouvelle Vague" est la nouvelle génération de cinéastes français qui a émergé à la fin des années 50. Ces jeunes cinéastes anti-conformistes vont bousculer les règles très établies du cinéma français.

Les piliers de cette nouvelle tendance sont François Truffaut, Jean-Luc Godard, Claude Chabrol, Eric Rohmer, Jacques Rivette et Alain Resnais. Ils ont en général une trentaine d´années, sont accros des salles obscures et pour la plupart ils sont critiques pour la revue "Les Cahiers du Cinéma" (créée en 1951). 
</p>
