<header>
	<button> 
	<%=link_to 'Accueil', root_path %>
	</button>

	<nav>
		<button class="favorite styled"
        type="button">
		<%= link_to 'Films', films_path %>
		</button>

	</nav>
 </header>